<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>some</p>
{{#airports}}
    <label>
        <select>
            <option>Name</option>
            <option>City</option>
            <option>Country</option>
            <option>IATA</option>
            <option>ICAO</option>
            <option>Lat</option>
            <option>Long</option>
            <option>Alt</option>
            <option>Timezone</option>
            <option>DST</option>
            <option>Tz database time zone</option>
            <option>Type</option>
            <option>Source</option>
        </select>
        {{Name}}
        {{City}}
        {{Country}}
        {{IATA}}
        {{ICAO}}
        {{Lat}}
    </label>
{{/airports}}
</body>
</html>