<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Airport info</title>
<!--    <link rel="stylesheet" type="text/css" href="style.css">-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<H2>Поиск информации о аэропорте</H2>
<form action="/" method="post">
    <label>
        <H3>Поиск по:</H3>
        <select name="column" id = "columnSelector">
            <option value="0">Id</option>
            <option value="1">Name</option>
            <option value="2">City</option>
            <option value="3">Country</option>
            <option value="4">IATA</option>
            <option value="5">ICAO</option>
            <option value="6">Lat</option>
            <option value="7">Long</option>
            <option value="8">Alt</option>
            <option value="9">Timezone</option>
            <option value="10">DST</option>
            <option value="11">Tz database time zone</option>
            <option value="12">Type</option>
            <option value="13">Source</option>
        </select>
    </label>
    <input type="text" name="filter" placeholder="Поиск">
    <input type="submit">
</form>
<table>
    <tr>
        <th >Id</th>
        <th>Name</th>
        <th>City</th>
        <th>Country</th>
        <th>IATA</th>
        <th>ICAO</th>
        <th>Lat</th>
        <th>Long</th>
        <th>Alt</th>
        <th>Timezone</th>
        <th>DST</th>
        <th>Tz Database timezone</th>
        <th>Type</th>
        <th>Source</th>
    </tr>
    {{#airports}}
        <tr>
            <td>{{Id}}</td>
            <td>{{Name}}</td>
            <td>{{City}}</td>
            <td>{{Country}}</td>
            <td>{{IATA}}</td>
            <td>{{ICAO}}</td>
            <td>{{Lat}}</td>
            <td>{{Long}}</td>
            <td>{{Alt}}</td>
            <td>{{Timezone}}</td>
            <td>{{DST}}</td>
            <td>{{TzDatabase}}</td>
            <td>{{Type}}</td>
            <td>{{Source}}</td>
        </tr>
    {{/airports}}
</table>
</body>
</html>